<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Stupid Coaching</h1>
 <%=link_to '/ask'%>
  <h3><%=@q%></h3>
  <p> -You </p>

  <h3><%=@ans%></h3>
  <p> -Your coach </p>
</body>
</html>
</body>
</html>
